# Node service
NODE_PORT=8545
NODE_URL=http://node:8545

# Bundler service
BUNDLER_PORT=3000
BUNDLER_URL=http://bundler:3000

# Scanner service
SCANNER_PORT=3001

# SMTP service
SMTP_PORT=8080
SMTP_INTERNAL_SERVER_HOST=0.0.0.0
SMTP_INTERNAL_SERVER_PORT=3000
SMTP_DOMAIN_NAME=smtp.gmail.com
SMTP_LOGIN_ID=    # IMAP login id - usually your email address.
SMTP_LOGIN_PASSWORD=  # IMAP password - usually your email password. (app password for gmail)
SMTP_MESSAGE_ID_DOMAIN=mail.gmail.com
SMPT_JSON_LOGGER=false

# Imap service - for receiving emails from users
IMAP_LOGIN_ID=                    # IMAP login id - usually your email address.
IMAP_DOMAIN_NAME=imap.gmail.com
IMAP_PORT=993
IMAP_LOGIN_PASSWORD=""        # IMAP password - usually your email password.
IMAP_AUTH_TYPE=password
# OR
IMAP_CLIENT_ID=                 # IMAP client id
IMAP_CLIENT_SECRET=             # IMAP client secret
IMAP_AUTH_URL=                  # IMAP auth url
IMAP_TOKEN_URL=                 # IMAP token url
IMAP_REDIRECT_URL=              # IMAP redirect url
IMAP_JSON_LOGGER=false

# Relayer service
RELAYER_PORT=4000